@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #1c1d23;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
    overflow: hidden;
    position: relative;
    margin: 1.2rem 1rem;
    width: 350px;
    border: 1px solid rgb(195, 228, 50);
    border-radius: 50px;
    transition: .5 ease-in;
}

.movie:hover {
    transform: scale(1.09823456);
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    opacity: .8;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
    color: green;
}

.movie:hover .overview {
    transform: translateY(0);
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 7vh;
}

.logos {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.logos img {
    width: 20px;
    height: 20px;
    filter: #2C7566;
    margin: 0 50px;
}

svg {
    margin: 0 43px;
}
svg:hover {
    filter: brightness(100);
}

.logos img:hover {
    filter: brightness(100);
}

.footer span:hover {
    color: rgb(39, 189, 39);
}